[user]
	name = Dan Tracy
	email = djt5019@gmail.com
	#signingkey = 758F8A36

[diff]
    mnemonicprefix = true

[mergetool]
    keepBackup = true

[alias]
    hist = log --graph --pretty=format:'%Cred%h%Creset -[%C(yellow)%cn%Creset]%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
    co = checkout
    details = log -n1 -p --format=fuller

[core]
    editor = vim
    pager = less
    excludesfile = /Users/dtracy/.gitignore

[push]
    default = tracking

[merge]
    log = true

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = green reverse
    local = green
    remote = yellow

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green

[color "status"]
    added = yellow
    changed = green
    untracked = white

[commit]
	#gpgsign = true

[tag]
	#gpgsign = true
