[user]
    name = Dan Tracy
    email = djt5019@gmail.com
    signingkey = D1486B07103E3412

[includeIf "gitdir:~/code/png/"]
    path = ~/.png.gitconfig

[diff]
    external = difft

[mergetool]
    keepBackup = true

[alias]
    hist = log --graph --pretty=format:'%Cred%h%Creset -[%C(yellow)%cn%Creset]%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
    co = checkout
    details = log -n1 -p --format=fuller

[core]
    excludesfile = /Users/dan-tracy/.gitignore
    editor = vim
    pager = delta

[push]
    default = tracking

[merge]
    log = true

[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[color "branch"]
    current = green reverse
    local = green
    remote = yellow

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    new = green

[color "status"]
    added = yellow
    changed = green
    untracked = white

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[gpg]
    program = /usr/local/bin/gpg

[pager]
    status = false
    branch = false

[pull]
    ff = only

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
